/*

    OVERWRITING LIBGUIDE DEFAULTS

*/

body {
    padding-left: 0;
    padding-right: 0;
    line-height: 1.42857143;
}

.s-lib-side-borders {
    padding-left: 15px;
    padding-right: 15px;
}
/* Include this CSS in the guide custom JS/CSS for the home page */

/*

    HOMEPAGE

*/

#alert_banner {
    background:#D44242; 
    color:black;
    margin: 0 0 0;
}

#s-lg-box-17557888 {
    margin: 0;
    padding: 0;
}
#s-lg-content-38699514 p {
    margin:0;
    padding:0;
    line-height: 20px;
}

#s-lg-guide-name {
    display: none;
}

#s-lg-guide-tabs-title-bar {
    border-top: 0;
}

#s-lg-guide-name {
    margin: 0;
}

.s-lib-box.s-lib-box-std {
    background: transparent;
}

.s-lib-box .s-lib-box-title {
    background: transparent;
}

#second_row {
    padding-top: 1em;
    padding-bottom: 1em;
}

@media (min-width:768px) {
    #first_row {
    background-color: #aaa;
    background-image: url(https://libapps.s3.amazonaws.com/accounts/314458/images/IMG_20181204_143930.jpg);
    padding-top: 30px;
    padding-bottom: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
border-bottom:  1em solid black;

    }
    #s-lg-row-1 {
        background: rgba(247, 247, 247, 1);
        border-radius: 10px;
    }
    .navbar {
        margin-bottom: 0;
    }
}


.img {width: 100%;}
/* END: schumann-lib-homepage.css */

/*

    TYPOGRAPHY

*/
Body,
#search_blaster_options,
#main_menu .dropdown-menu a {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

#s-lg-guide-header-info h1,
.s-lib-header h1 {
    font-size: 28px;
    font-weight: bold;
    /*text-transform: uppercase;*/
    margin-bottom: 45px;
    color: #000000;
}

#s-lib-bc li {
    font-weight: normal;
    font-size: 12px;
}

/*** in libguides boxes ***/

/*Box Title */

.s-lib-box .s-lib-box-title {
    font-size: 26px;
    color: #000000;
    /*text-transform:uppercase;*/
    font-weight: normal;
}

/*Box Content */

.s-lib-box-content p {
    /* font-family: 'Noto Serif', serif; */
    font-size: 16px;
    line-height: 1.75;
    /* margin-bottom: 24px; */
}

/* live hours grid*/

#hours_grid .open {
    background-color: #FFCB05;
    font-weight: bold;
}