/*

    OVERWRITING LIBGUIDE DEFAULTS

*/

body {
    padding-left: 0;
    padding-right: 0;
}

.s-lib-side-borders {
    padding-left: 15px;
    padding-right: 15px;
}

/*

    TYPOGRAPHY

*/
Body,
#search_blaster_options,
#main_menu .dropdown-menu a {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

#s-lg-guide-header-info h1,
.s-lib-header h1 {
    font-size: 28px;
    font-weight: bold;
    /*text-transform: uppercase;*/
    margin-bottom: 45px;
    color: #000000;
}

#s-lib-bc li {
    font-weight: normal;
    font-size: 12px;
}

/*** in libguides boxes ***/

/*Box Title */

.s-lib-box .s-lib-box-title {
    font-size: 26px;
    color: #000000;
    /*text-transform:uppercase;*/
    font-weight: normal;
}

/*Box Content */

.s-lib-box-content p {
    /* font-family: 'Noto Serif', serif; */
    font-size: 16px;
    line-height: 1.75;
    /* margin-bottom: 24px; */
}

/* live hours grid*/

#hours_grid .open {
    background-color: #FFCB05;
    font-weight: bold;
}