/* Include this CSS in the guide custom JS/CSS for the home page */

/* BEGIN: schumann-lib-homepage.css */

#alert_banner {
    background: gold;
    color: black;
}

#s-lg-box-17557888 {
    margin: 0;
    padding: 0;
}

#s-lg-content-38699514 p {
    margin: 0;
    padding: 0;
    line-height: 20px;
}

#s-lg-guide-name {
    display: none;
}

#s-lg-guide-tabs-title-bar {
    border-top: 0;
}

#s-lg-guide-name {
    margin: 0;
}

.s-lib-box.s-lib-box-std {
    background: transparent;
}

.s-lib-box .s-lib-box-title {
    background: transparent;
}

#second_row {
    padding-top: 1em;
    padding-bottom: 1em;
}

@media (min-width:768px) {
    #first_row {
        background-color: #aaa;
        background-image: url(https://libapps.s3.amazonaws.com/accounts/44017/images/livingroom-to-cafe-crop-2.jpg);
        padding-top: 30px;
        padding-bottom: 30px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 0%;
    }

    #s-lg-row-1 {
        background: rgba(247, 247, 247, 0.88);
        border-radius: 10px;
    }

    .navbar {
        margin-bottom: 0;
    }
}

/* END: schumann-lib-homepage.css */