/*********************************
*** styles for guide menu  ***
**********************************/

#s-lg-guide-tabs {
    background: #f8f8f8;
    border: 1px solid #e7e7e7;
}

.s-lg-tabs-side .nav {
    margin: 10px 10px 40px 10px;
}


/*current page - menu item */

#s-lg-tabs-container .nav-pills>.active>a {
    color: #000000;
    cursor: default;
    background-color: #FFCB05;
    border: 0;
    border-radius: 0;
    font-weight: bold;
    margin-left: -20px;
    padding-left: 34px;
    margin-right: -11px;
}

#s-lg-tabs-container .s-lg-subtab-ul.nav.nav-pills.nav-stacked>.active>a {
    margin-left: -30px;
    margin-right: -21px;
}

#s-lg-tabs-container .nav-pills>.active>a::before {
    display: block;
    width: 10px;
    height: 0px;
    position: absolute;
    bottom: -10px;
    left: -0px;
    content: "";
    border-bottom: 10px solid transparent;
    border-right: 10px solid #d6b300;
}

#s-lg-tabs-container .nav-pills>.active>a:hover {
    color: #000000;
    border: 0;
    border-radius: 0;
    background-color: #FFCB05;
    text-decoration: none;
}

/* sub pages */

ul.s-lg-subtab-ul.nav.nav-pills.nav-stacked {
    margin-bottom: 10px;
}

/*other pages - menu items */

#s-lg-tabs-container .nav-pills>li>a {
    border: 0;
    border-radius: 0;
    color: #000000;
    font-weight: normal;
    padding: 4px 15px;
    background-color: #f8f8f8
}

#s-lg-tabs-container .nav-pills>li>a:hover {
    border: 0;
    border-radius: 0;
    color: #000000;
    background-color: #f8f8f8;
    text-decoration: underline;
}

/*box-level navigation */

.s-lg-tabs-side .s-lg-boxnav {
    border-left: 1px solid #e7e7e7;
    margin-bottom: 1em;
}

.s-lg-tabs-side .s-lg-boxnav .list-group-item {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: #f8f8f8;
    border: 0;
    border-radius: 0;
}

.s-lg-tabs-side .s-lg-boxnav .list-group-item a {
    color: #000000;
}

/* styles for landing page menu */
/* we add .landing-page to the nav container via javascript so we can style the menu differently on the landing pages*/

.landing-page .active span {
    font-size: 35px;
    font-weight: normal;
    /*text-transform: uppercase;*/
}

.landing-page #s-lg-tabs-container .nav-pills>.active>a::before {
    display: block;
    width: 10px;
    height: 0px;
    position: absolute;
    bottom: -20px;
    left: -0px;
    content: "";
    border-bottom: 20px solid transparent;
    border-right: 20px solid #a94442;
}

.landing-page #s-lg-tabs-container .nav-pills>.active>a {
    margin-left: -30px;
    padding-left: 34px;
    margin-right: -11px;
}