<!DOCTYPE html>
<html>

<head>
  <title> </title>


  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic' rel='stylesheet'
    type='text/css'>
  <!-- local styles -->

  <link rel="stylesheet" href="stylesheets/global-typography.css">
  <link rel="stylesheet" href="stylesheets/global-footer.css">


  <!--Scripts -->
  <!-- ALREADY INCLUDED IN LIBGUIDES 2. -->
  <!-- Included here for development environment only -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>




</head>

<body>



  <!-- Copy and paste into Footer section of Libguides -->

  <!-- BEGIN: #my_footer -->
  <div id="my_footer">
    <div class="container">
      <div id="my_footer--address">

        <svg xmlns="http://www.w3.org/2000/svg" viewbox=" -1 -2 58 58">
          <style>
            .cls-2 {
              fill: #c9252c;
            }
          </style>
          <title>schumann logo</title>
          <path class="cls-2"
            d="M13.56,10.09H43.51V3.47A3.47,3.47,0,0,0,40,0H3.47A3.47,3.47,0,0,0,0,3.47V40a3.47,3.47,0,0,0,3.47,3.47H10.1V13.56A3.47,3.47,0,0,1,13.56,10.09Z">
          </path>
          <path class="cls-2"
            d="M50.14,10.09H43.51V40A3.47,3.47,0,0,1,40,43.51H10.1v6.63a3.47,3.47,0,0,0,3.47,3.47H50.14a3.47,3.47,0,0,0,3.47-3.47V13.56A3.47,3.47,0,0,0,50.14,10.09Z">
          </path>
        </svg>
        <p>Douglas D. Schumann Library & Learning Commons<br> Wentworth Institute of Technology<br> 550 Huntington
          Avenue<br> Boston, MA 02115<br></p>


      </div>


    </div>
  </div>
  <!-- END: #my_footer -->

  <!-- END: libguides global footer -->


</body>

</html>