<!DOCTYPE html>
<html>

<head>
  <title> </title>


  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic' rel='stylesheet'
    type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- local styles -->
  <link rel="stylesheet" href="../stylesheets/global-header.css">
  <!-- <link rel="stylesheet" href="../stylesheets/global-typography.css"> -->

  <!--Scripts -->
  <!-- ALREADY INCLUDED IN LIBGUIDES 2. -->
  <!-- Included here for development environment only -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
  <script src="../javascripts/get-hours.js"></script>
  <script src="../javascripts/hamburger-menu-navbar.js"></script>



</head>

<body>

  <!-- BEGIN: libguides global header -->
  <!-- Copy and paste into Header section of Libguides -->


  <!--- BEGIN: BETA ALERT HEADER -->
  <!--
      <div id="beta_alert_header" style="
          background-color: #ffd600;">
      <div class="container">
        <p>Did you fill out a <b>form on the Library website</b> on <b>Tuesday, September 20?</b> We probably didn’t get it… <a href="http://library.wit.edu/system-status">Read more.</a></p>
      
        
        </div>
        
      </div> -->


  <!-- END: BETA ALERT HEADER -->



  <div id="global_header">
    <div id="institutional_header">
      <a href="//www.wit.edu" title="Wentworth Institute of Technology"><img
          src="//s3.amazonaws.com/libapps/accounts/44017/images/wit-logo-16x16.png" alt="WIT logo">&nbsp; Wentworth
        Institute of Technology</a>
    </div>
    <nav class="navbar navbar-default">
      <div>
        <button type="button" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div id="header_flex_container" class="container">

          <div id="my_library_logo">
            <a href="//library.wit.edu" title="Douglas D. Schumann Library & Learning Commons">

              <img src="https://libapps.s3.amazonaws.com/accounts/44017/images/library_logo.png"
                alt="Douglas D. Schumann Library & Learning Commons">

            </a>
          </div>
          <div id="my_library_info">


            <div id="hours_today"><a href="//library.wit.edu/hours" id="hours_link"><span
                  class="glyphicon glyphicon-time" aria-hidden="true"></span> Today's hours</a></div>
            <div id="my_library_contact">
              617-989-4040
            </div>
            <div id="my_library_info--social_media">
              <a href="//twitter.com/witlibrary" title="follow us on Twitter" aria-label="follow us on Twitter"><span
                  class="fa fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i
                    class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a>
              <a href="//instagram.com/witlibrary" title="follow us on Instagram"
                aria-label="follow us on instagram"><span class="fa fa-stack fa-lg"><i
                    class="fa fa-circle fa-stack-2x"></i><i
                    class="fa fa-instagram fa-stack-1x fa-inverse"></i></span></a>
              <a href="//www.facebook.com/witlibrary" title="like us on Facebook" aria-label="like us on facebook"><span
                  class="fa fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i
                    class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a>
            </div>

          </div>
        </div>
        <!-- END: .flex-container -->

        <nav class="in" id="my_navbar">
          <div class="navbar-container">
            <ul id="main_menu" class="nav navbar-nav">
              <li role="presentation" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Research<span class="caret"></span></a>
                <ul class="dropdown-menu">

                  <li class="dropdown-header">Search & Find</li>
                  <li><a href="//library.wit.edu/search-and-find/library-catalog">Library Catalog</a></li>
                  <li><a href="//library.wit.edu/az.php">Online Resources</a></li>
                  <li><a
                      href="//search.ebscohost.com/login.aspx?direct=true&db=edspub&profile=eds&plp=1&authtype=ip,guest&custid=s5071755&groupid=main">Journals
                      by Title</a></li>
                  <li><a href="//library.wit.edu/search-and-find/course-reserves">Course Reserves</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Research Help</li>
                  <li><a href="//library.wit.edu/guides">Subject Guides</a></li>
                  <li><a href="//library.wit.edu/course-guides">Course Guides</a></li>
                  <li><a href="//library.wit.edu/research-help">Contact a Librarian</a></li>

                </ul>
              </li>

              <li role="presentation" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  role="button" aria-haspopup="true" aria-expanded="false">Technology & Spaces<span
                    class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Technology</li>
                  <li><a href="//library.wit.edu/technology/print">Print, Copy & Scan</a></li>
                  <li><a href="//library.wit.edu/technology/help">TechSpot Helpdesk</a></li>
                  <li><a href="//library.wit.edu/technology">More about technology</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Spaces</li>
                  <li><a href="//library.wit.edu/spaces/study-spaces">Study Spaces</a></li>
                  <li><a href="//library.wit.edu/spaces/tech-sandbox">Technology Sandbox</a></li>
                  <li><a href="//library.wit.edu/spaces">More about spaces</a></li>
                </ul>
              </li>

              <li role="presentation" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Borrow, Request &amp; Renew</li>
                  <li><a href="http://endeavor.flo.org/vwebv/login">View Library Account</a></li>
                  <li><a href="//library.wit.edu/borrow-and-request">Borrowing Policies</a></li>
                  <li><a href="//library.wit.edu/borrow-and-request/interlibrary-loan">Interlibrary Loan (ILL)</a></li>
                  <li><a href="//library.wit.edu/borrow-and-request/purchase-request">Request a Purchase</a></li>
                  <li><a href="//library.wit.edu/borrow-and-request/">More about library services</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="//library.wit.edu/borrow-and-request/course-reserves">Course Reserves</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Services for...</li>
                  <li><a href="//library.wit.edu/services-for/faculty">faculty</a></li>
                  <li><a href="//library.wit.edu/services-for/alumni">alumni</a></li>
                  <li><a href="//library.wit.edu/services-for/guests">guests</a></li>
                </ul>
              </li>


              <li role="presentation" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Visit The Library</li>
                  <li><a href="//library.wit.edu/visit/">Hours & Directions</a></li>
                  <li><a href="//library.wit.edu/visit/floor-map">Library Floor Map</a></li>
                  <li><a href="//library.wit.edu/exhibits">Exhibits</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Who We Are</li>
                  <li><a href="//library.wit.edu/who-we-are/mission">Our Mission</a></li>
                  <li><a href="//library.wit.edu/who-we-are/partner-with-us">Partner With Us</a></li>
                  <li><a href="//library.wit.edu/who-we-are/contact">Contact Us</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="//library.wit.edu/jobs">Job Opportunities</a></li>
                  <!-- <li><a href="//library.wit.edu/about/calendar">Events Calendar</a></li> -->
                  <!-- <li><a href="//library.wit.edu/about/news">News</a></li> -->
                </ul>
              </li>

            </ul>
          </div>
        </nav>
        <!-- END: #my_navbar -->

      </div>
    </nav>
  </div>
  <!-- END: libguides global header -->
</body>

</html>