<!-- SIDE NAV -->
	<body class="groups--research-guides s-lg-guide-body">
		{{skip_link}}
        {{ADMIN_CMD_BAR}}
        <!-- BEGIN: Page Header -->
        {{public_header}}
        <!-- END: Page Header -->
        <!-- BEGIN: Guide Header -->
  		<div id="s-lg-guide-header" class="container s-lib-header s-lib-side-borders">
         
			<div class="pull-right">
				<!-- <div id="s-lg-guide-header-search">
					{{guide_search}}				
                                </div> -->
				{{ADMIN_MINI_CMD_BAR}}
			</div> 
            <div id="s-lg-guide-header-info">
                <h1 id="s-lg-guide-name">{{guide_title}}: {{page_title}} </h1>
                
                <div id="s-lg-guide-desc-container">
                    <span id="s-lg-guide-description">{{guide_description}}</span>
                </div>
            </div>
        </div>
        <!-- END: Guide Header -->
        <div id="s-lg-guide-tabs-title-bar" class="container s-lib-side-borders"></div>
        <div id="s-lg-side-nav-content" class="container s-lib-side-borders pad-top-med">
            <div class="row">
                <div class="col-md-3 s-lg-tabs-side pad-bottom-med">
                    <div id="s-lg-tabs-container">
                        <div id="s-lg-guide-tabs">
                            <ul class="nav nav-pills nav-stacked split-button-nav">{{guide_nav}}
                            </ul>
                             </div>
                            {{side_nav_boxes}}
                       
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="s-lg-tab-content">
                        <div id="s-lg-guide-main" class="tab-pane active">
                            {{content}}
 
                        </div>
                    </div>
                    {{page_prev_next_links}}
                </div>
            </div>
        </div>

        <!-- BEGIN: Page Footer -->
      <div class="container"><p class="text-right small "><i class="fa fa-sign-in " aria-hidden="true"></i> {{login_url_display}}</p></div>
        <!-- END: Page Footer -->
        
			<div id="s-lib-scroll-top" title="Back to Top">
				<span class="fa-stack fa-lg">
				  <i class="fa fa-square-o fa-stack-2x"></i>
				  <i class="fa fa-angle-double-up fa-stack-1x" style="position:relative; bottom:2px;"></i>
				</span>
			</div>        <div id="s-lib-alert" title="">
                            <div id="s-lib-alert-content"></div>
                       </div>        
                <!-- BEGIN: Custom Footer -->
                {{public_footer}}
		<!-- END: Custom Footer -->
	</body>